body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.hero-section{
    color: #e5e7eb;
    background-color: #1f2937 ;
    display: flex;
    flex-direction: column; 
    padding: 25px 200px 100px 200px;
    align-items: space-between;
    gap: 50px;
}
.header{
    display: flex;
    /* flex: 1; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 1350px; */
    /* padding: 16px; */

}
.logo{
    width: 100px;
    flex: 0 0 auto;
}
.links{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 16px;
}
li{
    list-style: none;
}
.links a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    flex: 1;
}
.content{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.message{
    width: 420px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    align-items: baseline;
    flex: 0 1 auto;
}
.content img{
    width: 420px;
    height: 200px;
    flex: 1;
    padding: 0;
    margin: 0;
    border: #1f2937 3px;
    border-radius: 8px;
}
.message h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    align-self: stretch;
    margin: 0;
    padding: 0;
}
.message p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    
}
.message button{
    color: #f9faf8;
    background-color: #3882f6; 
    margin: 0;
    margin-top: 16px;
    padding: 8px 35px; 
    border: none;
    border-radius: 3px;

}

/* Second Section Styles */

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px 200px 100px 200px;
    gap: 20px;
}
.info-section h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 0;
    padding: 0;
}
.list-of-cars{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
}
.car{
    display: flex;
    flex-direction: column;
   align-items: center;
    gap: 20px;
}
.car img{
    height: 100px;
    border: #1f2937 solid 3px;
    border-radius: 16px;
    padding: 5px;
    flex: 0 0 auto;
}
.car span{
    height: 100px;
}



